---
  - name: Prune NPM modules from the local installed set
    sudo: true
    sudo_user: ubuntu
    shell: /usr/bin/npm prune chdir=/usr/local/src
    ignore_errors: True
  - name: Install modules in package.json
    sudo: true
    sudo_user: ubuntu
    shell: /usr/bin/npm install chdir=/usr/local/src